extends ../layout

block content
	h1= member.name.first + ' ' + member.name.last
	.hidden#member_home_state= member.home_address.state
	.hidden#member_id= member._id
	include reset_password_dialog
	include add_certification_dialog
	include add_email_dialog
	.edit_member
		form(action="", method="post")
			include member_details
			include account_details
			include certifications
			include emails
			if authMember.account.permissions.members || authMember.account.permissions.accounts
				input.save(
					type="submit",
					value="Save")
		if authMember.account.permissions.members
			form(action="/members/delete/"+member._id, method="post")
				p
					input.delete(
						type="submit",
						value="Delete")