extends ../layout

block content
	h1= 'Edit ' + member.name.first + ' ' + member.name.last
	#reset_password_dialog(title="Reset Password")
		.status	
	form(action="", method="post")
		p First Name:
			input(
				type="text",
				value=member.name.first,
				disabled="disabled"
			)
		p Last Name:
			input(
				type="text",
				value=member.name.last,
				disabled="disabled"
			)
		p Username:
			input(
				type="text",
				name="username",
				value=member.account.username
			)
		p Password:
			input(
				type="password",
				value="123456",
				disabled="disabled"
			)
			button#resetPassword(type="button") Reset Password
		p Login Enabled:
			input(
				type="checkbox",
				name="login_enabled",
				value="true",
				checked=(member.account.login_enabled)? "checked" : undefined
			)
		p Manage Schedule:
			input(
				type="checkbox",
				name="schedule",
				value="true",
				checked=(member.account.permissions.schedule)? "checked" : undefined
			)
		p Manage Members:
			input(
				type="checkbox",
				name="members",
				value="true",
				checked=(member.account.permissions.members)? "checked" : undefined
			)
		p Manage Accounts:
			input(
				type="checkbox",
				name="accounts",
				value="true",
				checked=(member.account.permissions.accounts)? "checked" : undefined
			)
		p
			input(type="submit", value="Save")
	form(action="/members/delete/"+member._id, method="post")
		input(type="submit", value="Delete")