extends ../layout

block head
	script(src="/javascripts/members.js")

block content
	h1 Members
	if authMember.account.permissions.accounts || authMember.account.permissions.members
		p
			a.button.icon.add(href="/members/create") Create Member
			if authMember.account.permissions.members
				a.button(href="/applicants") Applicants
			if authMember.account.permissions.members || authMember.account.permissions.schedule
				a.button(href="/schedule/duty-report/") Duty Hour Report
	table.spread
		tr
			th Name
			th Unit
			th Phone
			th Email
			th Address
			th Training Corps
			th Probationary
			th Driver
			th Crew Chief
			if authMember.account.permissions.accounts || authMember.account.permissions.members
				th Actions

		each member in members
			tr
				td= member.name.first + ' ' + member.name.last
				td= member.unit
				td= member.phone
				td= member.school_email
				td= member.campus_address
				td= member.status.training_corps? 'Yes' : ''
				td= member.status.probationary? 'Yes' : ''
				td= member.status.driver? 'Yes' : ''
				td= member.status.crew_chief? 'Yes' : ''
				if authMember.account.permissions.accounts || authMember.account.permissions.members
					td
						a.button.pill.icon.edit(href='/members/edit/'+member._id) Edit
