.dialog#edit_shift(title="Edit Shift")
	p Start: 
		select#edit_start_month
			- ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'].forEach(function (month) {
			option= month
			- })
		select#edit_start_day
			- for (i = 1; i < 32; i ++) {
			option= i
			- }
		span  at 
		select#edit_start_hour
			- for (i = 0; i < 24; i++) {
			option= i
			- }
		| :
		select#edit_start_minute
			- for (i = 0; i < 60; i++) {
			option= (i < 10)? '0' + i : i 
			- }
	p End:
		select#edit_end_month
			- ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'].forEach(function (month) {
			option= month
			- })
		|  
		select#edit_end_day
			- for (i = 1; i < 32; i ++) {
			option= i
			- }
		|  at 
		select#edit_end_hour
			- for (i = 0; i < 24; i++) {
			option= i
			- }
		| :
		select#edit_end_minute
			- for (i = 0; i < 60; i++) {
			option= (i < 10)? '0' + i : i 
			- }