extends ../layout

block content
	span.hidden#display_month= month
	span.hidden#display_year= year

	include add_shift
	include edit_shift

	h1.calendar= month + ' ' + year
	nav.calendar
		a(href=prev_month.url)= "« " + prev_month.name
		|  — 
		a(href="/schedule") Today
		|  — 
		a(href=next_month.url)= next_month.name + " »"

	if authMember.account.permissions.schedule
		if message
			#message.editable= message
		else
			#message.editable Click to Add Message
	else if message
		#message= message
	
	.key
		span.crew_chief Crew Chief
		span.driver Driver
		span.probationary Probationary
		span.training_corps Training Corps
	
	table.calendar
		tr
			th Monday
			th Tuesday
			th Wednesday
			th Thursday
			th Friday
			th Saturday
			th Sunday
		tr
			- for (i = 0; i < 7; i++) {
			block day_cell
			- }
		tr
			- for (i = 7; i < 14; i++) {
			block day_cell
			- }
		tr
			- for (i = 14; i < 21; i++) {
			block day_cell
			- }
		tr
			- for (i = 21; i < 28; i++) {
			block day_cell
			- }
		tr
			- for (i = 28; i < 35; i++) {
			block day_cell
			- }
		tr
			- for (i = 35; i < 42; i++) {
			block day_cell
			- }